/*
 http://www.sitepoint.com/how-to-use-cross-browser-web-fonts-part-1/
*/
html{
    /*overflow: hidden;*/
}
body{
    margin: 0;
    cursor: default;
    font-family: 'Open Sans', sans;
}
ul{
    margin: 0;
    padding-left: 1.5em;
}
#menu>ul{
    list-style-type: none;
    padding: 0;
}
#menu>ul>li{
    display: inline;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: inline-block;
    width: 18%;
    vertical-align: middle;
    color: rgb(225,225,225);
}
a{
    text-decoration: none;
    color: rgb(128,128,148);
    cursor: default;
}
h1{
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
}
.sticky{
    position: fixed;
    top: 2.6em;
}
.panel{
    width: 100%;
    text-align: center;
}
.title{
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Josefin Slab', serif;
    font-size: 4em;
    line-height: 75%;
    color: rgb(225,225,225);
    background-color: rgb(64,64,96);
    z-index: 9999;
}
.collapsed{
    display: none;
    position: fixed;
    height: 2em;
    top: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 2em;
    line-height: 2em;
}
.subtitle{
    font-size: 0.75em;
}
.menu{
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    background-color: rgb(128,128,148);
    z-index: 9999;
}
.content{
    max-width: 60%;
    margin: 1em auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.publiDIV{
    text-align: left;
    margin: 1em auto;
}
.publiAuthors{
    display: inline;
}
.publiTitle{
    display: inline;
    font-weight: 600;
}
.publiJournal{
    display: block;
    font-style: italic;
}
.contactDIV{
    font-family: 'FontAwesome', sans-serif;
    font-size: 6em;
}
.xpBlock{
    margin: 1em 0;
    text-align: left;
}
.xpYears{
    float: left;
    position: absolute;
    padding-right: 1em;
    width: 6em;
    text-align: right;
    font-weight: 400;
}
.xpEntry{
    margin-left: 7em;
    display: inline-block;
    vertical-align: bottom;
}
.xpDiploma, .xpExperience{
    font-weight: 600;
}
.xpSchool, .xpCompany{
    font-weight: 400;
    font-style: italic;
}
.xpMoreLink{
    display: inline-block;
    margin-top: 1em;
    float: right;
}
.xpMore{
    display: none;
    margin-left: 7em;
    padding: 0.5em 0;
    background-color: rgb(225,225,225);
}


.site_image_container {
    margin: auto;
}

.site_image {
    margin-bottom: 30px;
    width: 100%;
    /*height: 300px;*/
    /*background-color: rgb(128,128,148);*/
    border: 5px solid rgb(128,128,148);
    cursor: pointer;
}

.site_image:hover {
    border-color: rgb(64,64,96);
}

.mail_image {
    width: 20%;
}

.email {
    font-size: 15px;
}

myemail::after {
    content: attr(data-domain);
}
myemail::before {
    content: attr(data-user);
}

.fa-arrow-circle-o-down {
    text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
    height: 10px;
    width: 10px;
    background-image: url(/img/down.png);
    background-size: 100% 100%;
}

.fa-arrow-circle-o-up {
    height: 10px;
    text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
    width: 10px;
    background-image: url(/img/up.png);
    background-size: 100% 100%;
    color: #fff;
}

#menu ul li {
    cursor: pointer;
}

.techLine {
    display: inline-block;
    width: 50%;
}